@charset "UTF-8";
/*Обнуление*/
html,body{
  height: 100%;
}

body{
  margin: 0;

  background: linear-gradient(90deg, #59C173, #a17fe0, #5d26c1);
  background-size: 200% 200%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 50% 100%;
  }
  100% {
      background-position: 0 50%;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 100px 50px 50px 50px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.tytle {
    font-size: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 10px 0;
}
.text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
}
.two-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
}
.stat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 30px 0;
}
.title-victory {
    font-size: 20px;
    margin: 0 0 10px 0;
}
.bottom-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.bottom-line div {
    margin: 0 20px 0 0;
}
.bottom-line div:last-child {
    margin: 0;
}
.currentPlayer {
    width: 120px;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#area {
    width: 302px;
    border: 1px solid #000000;
    margin: 0 auto;
    font-size: 0;
    margin-bottom: 30px;
}
.cell {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    font-size: 90px;
    border: 1px solid #000000;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transition: background 0.1s;
    transition: background 0.1s;
  }
  .cell:hover {
    background-color: #f1f1f1;
  }
.btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#reset-btn {
    width: 200px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #004603;
    margin: 0 20px 0 0;
    border-radius: 5px;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    cursor: pointer;
}
#reset-btn span {
    display: inline-block;
    color: #ffffff;
}
#reset-btn:hover {
    background-color: #00dd0b;
}
#retry-btn {
    width: 200px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #490000;
    border-radius: 5px;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    cursor: pointer;
  }
  
  #retry-btn span {
    display: inline-block;
    color: #ffffff;
  }
  
  #retry-btn:hover {
    background-color: #ff0000;
  }

  #canvas{
    width: 100px;
    height: 100px;
    border: 1.5px solid black;
  }